@import "vars";

* {
  background-color: var(--bg-color);
  box-sizing: border-box;
}

.home-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Dosis", sans-serif;
}

.home-header {
  margin: 18px 0 0 0;
  text-align: center;
  line-height: 9px;
  z-index: 2;
}

.home-h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 500;
}

.home-h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
}

.home-figure {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 1;
  margin-left: 56px;
  margin-right: 68px;
}

.home-img1 {
  width: 488px;
  object-fit: cover;
  height: 488px;
  border-radius: 50%;
}

.home-btn-container{
  display: grid;
  justify-content: center;
}


.home-link {
  text-align: center;
  border-radius: 16px;
  width: 236px;
  padding: 12px 0 12px 0;
  background-color: var(--lg-purple);
  z-index: 2;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 1.18rem;
}

.home-h2.dos{
  display: none;
}
.home-ul{
  display: none;
}


@media (min-width: 480px) {
  .home-figure{
    display: flex;
    justify-content: center;
  }
  .home-link{
    width: 278px;
  }
  .home-h2.dos{
    display: none;
  }
  .home-ul{
    display: none;
  }
}

@media (min-width: 1024px) {
  .home-body-container{
    display: flex;
    justify-content: center;
    margin-right: 62px;
  }
  .home-btn-container{
    position: relative;
    top: 92px;
  }
  .home-figure{
    margin-right: 262px;
  }
  .home-img1{
    height: 528px;
    width: 528px;
  }
.home-h2.dos{
  width: 350px;
  font-size: 1.6rem;
  display: flex;
}
.home-ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  bottom: 52px;
  right: 172px;
}
.home-li{
  margin-right: 18px;
  list-style: none;
}
.home-link{
  height: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 342px;
}
.home-h2.dos,
.home-link{
  position: relative;
  right: 92px;
}
}